$width: 1140px;

$text-color: #737373;
$second-color: #f5f5f5;
$bg-title: #272727;
$bg-input: #fafafa;
$bg-footer: $bg-input;
$button-color: #21b1a5;

$primary-color: #3e5eea;
$error: #ff0000;
$success: #13c132;
$primary-color-dark: #002ae4;
$action-color: #2fcb00;
$action-color-hover: #002ae4;
$action-text-color: #fff;

$text-light: #f5f5f5;
$base-white: #ffffff;
$base-black: #000;

$fontOxy: 'Oxygen', sans-serif;


$font: 'Roboto', sans-serif;
$fontVarela: 'Varela Round', sans-serif;