.banner{
    background: url(../img/main_banner.jpg) center center no-repeat;
    background-size: cover;
    min-height: 350px;
    @media screen and (max-width: 991px) {
        min-height: auto;
    }
    
    
    .logo-wrapper{
        text-align: center;
        margin-bottom: 32px;
        a{
            display: inline-block;
            img{
                width: 113px;
                @media screen and (max-width: 991px) {
                    width: 92px;
                }
            }
        }
    }

    &-title{
        text-align: center;
        font-size: 31px;
        line-height: 1.6;
        color: $base-white;
        text-shadow: 0 10px 10px #000;
        margin: 0 0 28px 0;
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
    }

    .arrow{
        text-align: center;
        img{
            width: 51px;
            @media screen and (max-width: 991px) {
                width: 32px;
            }
        }
    }

}