.form-blc{
    padding: 24px 0 50px;
    @media screen and (max-width: 991px) {
        padding-top: 15px;
    }

    .form-row{
        display: flex;
        margin: 0 -15px;
        padding-top: 10px;
        padding-bottom: 10px;
        @media screen and (max-width: 991px) {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;

        }
    }

    .form-item{
        flex: 1;
        margin: 0 15px;
        @media screen and (max-width: 991px) {
            margin-bottom: 12px;
        }
        &.dark{
            padding: 30px;
            margin-top: 45px;
            @media screen and (max-width: 991px) {
                padding: 20px 15px;
                margin-top: 18px;
            }
        }

        .form-row{
            margin: 0 -15px;
            padding-top: 0;
            padding-bottom: 0;
            @media screen and (max-width: 991px) {
                flex-direction: row;
                margin: 0 -4px;
            }
            .form-item{
                margin: 0 15px;
                @media screen and (max-width: 991px) {
                    margin: 0 4px;
                }
            }
        }


        label{
            font-size: 18px;
            margin-bottom: 8px;
            display: block;
            @media screen and (max-width: 991px) {
                font-size: 15px;
                margin-bottom: 6px;
            }
        }

        .form-input{
            display: block;
            width: 100%;
            font-size: 16px;
            padding: 12px 15px;
            background: $bg-input;
            border: 2px solid #cccccc;
            border-radius: 3px;
            @media screen and (max-width: 991px) {
                font-size: 15px;
                padding: 10px 10px;
            }
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #cccccc;
                opacity: 1; /* Firefox */
              }
              
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #cccccc;
              }
              
              &::-ms-input-placeholder { /* Microsoft Edge */
                color: #cccccc;
              }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type='number'] {
            -moz-appearance: textfield;
        }

    }

    .text-blc{
        max-width: 850px;
        
        @media screen and (max-width: 991px) {
            font-size: 14px;
        }
        .dot{
            &:before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 15px;
                height: 15px;
                background: #21b1a5;
                border-radius: 50%;
                margin-right: 10px;
                @media screen and (max-width: 991px) {
                    vertical-align: baseline;
                    width: 11px;
                    height: 11px;
                    margin-right: 6px;
                }
                
            }
        }

        ul{
            list-style: none;
            padding: 0;
            li{
                margin-bottom: 5px;
            }
        }
    }

    .wrap-radio{
        position: relative;
        display: flex;
        margin: 0 -15px;
        padding-top: 15px;
        @media screen and (max-width: 991px) {
            padding-top: 0;
        }
        .radio-item{
            margin: 0 15px;
            width: 100%;
            max-width: 125px;
            @media screen and (max-width: 991px) {
                max-width: 130px;
            }
        }
        
        input{
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            &:checked{
                & + .radio-button{
                    &::after{
                        display: block;
                    }
                }
            }
        }

        .radio-button{
            background: #272727;
            font-size: 16px;
            color: $base-white;
            width: 100%;
            padding: 11px 15px;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
            position: relative;
            @media screen and (max-width: 991px) {
                font-size: 16px;
                padding: 10px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $button-color url(../img/tick.png) center center no-repeat;
                background-size: 29px 29px;
                display: none;
                @media screen and (max-width: 991px) {
                    background-size: 29px 29px;
                }
                
            }
        }
    }

    .checkbox-text{
        padding-top: 16px;
        margin-bottom: 40px;
        @media screen and (max-width: 991px) {
            margin-bottom: 23px;
        }
        .checkbox{
            position: relative;
            label{
                line-height: 1.7;
                cursor: pointer;
                font-size: 16px;
                @media screen and (max-width: 991px) {
                    font-size: 14px;
                }
            }
            input{
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                &:checked{
                    & + .checkbox-wrap{
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }

            .checkbox-wrap{
                width: 25px;
                height: 25px;
                background: $bg-input;
                border: 2px solid #cccccc;
                margin-right: 10px;
                border-radius: 3px;
                float: left;
                display: flex;
                @media screen and (max-width: 991px) {
                    width: 23px;
                    height: 23px;
                }
                &:after{
                    content: '';
                    width: 25px;
                    height: 25px;
                    background: $button-color;
                    border-radius: 3px;
                    margin: auto;
                    opacity: 0;
                    transition: all linear .2s;
                    @media screen and (max-width: 991px) {
                        width: 15px;
                        height: 15px;
                    }
                    
                }
            }
        }
    }

    .button{
        width: 100%;
        background: $button-color;
        color: $base-white;
        padding: 20px 15px;
        text-align: center;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        transition: all linear .2s;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
            padding: 12px 10px;
        }
        &:hover{
            background: #000;
        }
    }

    .additional-blc{
        margin: 0 0 24px 0;
        transform: translateY(-30px);
        background: $second-color;
        @media screen and (max-width: 991px) {
            transform: translateY(-15px);
            margin: 0;
            .form-item{
                margin: 0 0 12px;
            }
        }
        
        .text-blc{
            padding: 0 25px;
            @media screen and (max-width: 991px) {
                padding: 0 15px;
            }
        }

        .form-row{
            padding-left: 25px;
            padding-right: 25px;
            .form-row{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .wrap-file{
        position: relative;
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .file-input{
            display: flex;
            .file-name{
                flex: 1;
                font-size: 16px;
                padding: 10px 15px;
                background: $bg-input;
                border: 2px solid #cccccc;
                border-radius: 3px;
                margin: 0 10px 0 0;
                display: flex;
                max-width: 370px;
                @media screen and (max-width: 991px) {
                    font-size: 15px;
                    max-width: 100%;
                    padding: 10px;
                }
                .placeholder{
                    color: #cccccc;
                }
                .text{
                    display: none;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre;
                    @media screen and (max-width: 991px) {
                        max-width: 600px;
                    }
                    @media screen and (max-width: 767px) {
                        max-width: 115px;
                    }
                    
                }
            }
            button{
                text-align: center;
                padding: 11px 15px;
                background: #272727;
                color: $base-white;
                width: 175px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;
                @media screen and (max-width: 991px) {
                    width: auto;
                }
            }
        }

    }

}