.widget{
    padding: 33px 0 11px;
    @media screen and (max-width: 991px) {
        padding: 20px 0;
    }

    &-title{
        background: $bg-title;
        font-size: 21px;
        color: $base-white;
        padding: 15px 25px 16px 31px;
        border-radius: 3px;
        margin: 20px 0 20px 0;
        @media screen and (max-width: 991px) {
            font-size: 15px;
            padding: 15px;
            margin: 0px 0 15px 0;
        }

        &.mobile-gap{
            margin-top: 20px;
        }
    }

}